
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <title>Flask_Chat_App</title>
      <link rel="stylesheet" href="static/utils.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
      <script src="static/utils.js"></script>
  </head>
  <body>

    <h3 id="header_style">No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

  </body>
  </html>